<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" width="48" height="48" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"
      alt="User Image">
    <div>
      <p class="app-sidebar__user-name">ปลาชะโด</p>
      <p class="app-sidebar__user-designation">Backend Developer</p>
    </div>
  </div>
  <ul class="app-menu">
    <li><a class="app-menu__item" [routerLink]="['/', Url.MonthlyMeeting]"><i class="app-menu__icon fa fa fa-users"></i><span
          class="app-menu__label">Monthly Meeting</span></a></li>
    <li><a class="app-menu__item" [routerLink]="['/', Url.SaleInfo]"><i class="app-menu__icon fa fa-pie-chart"></i><span
          class="app-menu__label">ข้อมูลยอดขาย</span></a></li>
    <!-- <li><a class="app-menu__item" [routerLink]="['/', Url.Branch]"><i class="app-menu__icon fa fa-university"></i><span class="app-menu__label">ข้อมูลสาขา</span></a></li> -->
    <li><a class="app-menu__item" [routerLink]="['/', Url.Summary]"><i class="app-menu__icon fa fa-dashboard"></i><span
          class="app-menu__label">รายงานสรุป</span></a></li>
    <li><a class="app-menu__item" [routerLink]="['/', Url.ExamChart]"><i class="app-menu__icon fa fa-pie-chart"></i><span
          class="app-menu__label">ตัวอย่างแผนภูมิ</span></a></li>
    <li><a class="app-menu__item" [routerLink]="['/', Url.NewsManagement]"><i class="app-menu__icon fa fa-newspaper-o"></i><span
          class="app-menu__label">จัดการข่าวสาร</span></a></li>
  </ul>
</aside>