/* ชื่อและโลโก้บริษัท */
.headertext {
    position: absolute;
    padding-top: 1.3%;
    padding-left: 12.7%;
    text-align: center;
    color: aliceblue
}

.headerlogo {
    position: absolute;
    padding-top: 1.3%;
    padding-left: 8%;
    text-align: center;
    color: aliceblue
}


/* แบล็กกาวทั้งหมด */
.main {
    padding-top: 8%;
    padding-bottom: 3%;
    padding-right: 8%;
    padding-left: 8%;   
    background: linear-gradient(to bottom right, rgb(0,174,57), rgb(0,26,9));
    background-size: cover; 
}

/* ทำให้ไม่มี gap */
.padding-0{
    padding-right:0;
    padding-left:0;
    padding-bottom:0;
    padding-top:0;
  }


/* ส่วนหัวข้อข่าว */
.bgnews {
    height: 100%;
    background: darkgreen; /* For browsers that do not support gradients */ 
    background: linear-gradient(to bottom right, rgb(0,174,57), rgb(0,26,9)); 
    border: #000;
    border-width: 2%; 
}

 #newslogo {
    position: absolute;
    font-size:66px;
    color:rgb(250, 250, 250,1);
    padding-top: 1.3%;
    padding-left: 4%
 }

#newstextlogo {
    padding-top:0.6%;
    color: rgb(250, 250, 250,1);
    padding-left:8.5%;
    font-size: 394%;
    position: absolute;
}

#newsheader {
    text-align: center;
}

#newscontent {
    padding-top:8%;
    padding-bottom: 5%;
}

#newscard {
    display: inline-flex;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}

#newscard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* ส่วนหัวข้ออัลบั้ม */
.bggallery {
    height: 100%;
    background: darkgreen; /* For browsers that do not support gradients */ 
    background: linear-gradient(to bottom right, rgb(0,174,57), rgb(0,26,9)); 
    border: #000;
    border-width: 2%;   
}

#bggallerylogo {
    position: absolute;
    font-size:66px;
    color:rgb(250, 250, 250,1);
    padding-top: 1.3%;
    padding-left: 4%
}

#bggallerytextlogo {
    padding-top:0.6%;
    color: rgb(250, 250, 250,1);
    padding-left:8.5%;
    font-size: 394%;
    position: absolute;
}

/* ส่วนหัวข้อ Monday Menu */
.bgmondaymenu {
    background: darkgreen; /* For browsers that do not support gradients */ 
    background: linear-gradient(to bottom right, rgb(0,174,57), rgb(0,26,9)); 
    width: 100%;
}

#bgmondaymenulogo {
    position: absolute;
    font-size:66px;
    color:rgb(250, 250, 250,1);
    padding-top: 1.3%;
    padding-left: 4%
}

#bgmondaymenutextlogo {
    padding-top:0.6%;
    color: rgb(250, 250, 250,1);
    padding-left:8.5%;
    font-size: 394%;
    position: absolute;
}

#monday {
    display:inline-flex;
    background-color: rgb(255, 255, 255,0.1);
    font-size:130%;
    color:whitesmoke
  }

  #monday:hover {
    display:inline-flex;
    background-color: rgb(216, 248, 7);
    font-size:130%;
    color:rgb(10, 34, 24)
  }

  



/* gallery card effect */
#gallerycard {
    display:inline-flex;
    background-color: rgb(255, 255, 255,0.1);
    font-size:130%;
    color:whitesmoke;
    text-align:center;
  }
  
  #gallerycard:hover {
    display:inline-flex;
    background-color: rgb(255, 255, 255,0.5);
    font-size:130%;
    color:rgb(10, 34, 24)
  }




