/* รูป slideshow ด้านบน */
#slidetop {
    padding-top: 2%;
    z-index: 1;
}

.headerlogo {
    position: relative;
    padding-top: 1.3%;
    padding-left: 1%;
    text-align: center;
    color: aliceblue
}

a:link, a:visited {
    background-color: rgba(0,174,57,0.3);
    color: white;
    padding: 0% 1.5%;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position:absolute;
    top:5%;
    z-index: 2;
    right: 5%;
    font-family: 'Mali', cursive;
    font-size: 150%;
}


a:hover, a:active {
    background-color: rgba(174, 41, 0, 0.3);
}

/* แบล็กกาวทั้งหมด */
.main {
    padding-top: 0%;
    padding-bottom: 3%;
    padding-right: 4%;
    padding-left: 4%;   
    background: linear-gradient(to bottom right, rgb(0,174,57), rgb(0,26,9));
    background-size: cover; 
}

/* ทำให้ไม่มี gap */
.padding-0{
    padding-right:0;
    padding-left:0;
    padding-bottom:0;
    padding-top:0%;
  }


/* ส่วนหัวข้อข่าว */
.bgnews {
    height: 100%;
    background: darkgreen; /* For browsers that do not support gradients */ 
    background: linear-gradient(to bottom right, rgb(0,174,57), rgb(0,26,9)); 
}

 #newslogo {
    position: relative;
 }

#newstextlogo {
    padding-top:1.8%;
    color: rgb(250, 250, 250,1);
    padding-left:1.5%;
    font-size: 320%;
    position: relative;
    font-family: 'Mali', cursive;
}

#newsheader {
    text-align: center;
}

#newscontent {
    padding-top:0%;
    margin-bottom: 2%;
}

#newscard {
    display: inline-flex;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
}

#newscard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.02);
}


#newscardcontent {
    height:6rem;
    overflow-y: hidden;
    margin-bottom: 0%;
    padding-top: 1.2rem;
    padding-bottom: 5.8rem;
    font-family: 'Mali', cursive;
    font-size: 1rem;
    padding-left: 3%;
    padding-right: 3%;
}

.card-body {
    padding:0;;
}
p.indent{ 
    padding-left: 0.8em;
    padding-right: 0.8em;
}

#overnews:hover {
    color: blueviolet;
    cursor: pointer;
}



/* ส่วนหัวข้ออัลบั้ม */
.bggallery {
    height: 100%;
    background: darkgreen; /* For browsers that do not support gradients */ 
    background: linear-gradient(to bottom right, rgb(0,174,57), rgb(0,26,9)); 
    border: #000;
    border-width: 2%;   
}

#bggallerylogo {
    position: relative;
    font-size:66px;
    color:rgb(250, 250, 250,1);
    padding-top: 1.3%;
    padding-left: 6%
}

#bggallerytextlogo {
    padding-top:1.8%;
    color: rgb(250, 250, 250,1);
    padding-left:1.5%;
    font-size: 320%;
    position: relative;
    font-family: 'Mali', cursive;
}

#namealbum {
    font-size: 1rem;
}

/* ส่วนหัวข้อ Monday Menu */
.bgmondaymenu {
    background: darkgreen; /* For browsers that do not support gradients */ 
    background: linear-gradient(to bottom right, rgb(0,174,57), rgb(0,26,9)); 
    width: 100%;
}

#bgmondaymenulogo {
    position: absolute;
    font-size:66px;
    color:rgb(250, 250, 250,1);
    padding-top: 1.3%;
    padding-left: 4%
}

#bgmondaymenutextlogo {
    padding-top:1.8%;
    color: rgb(250, 250, 250,1);
    padding-left:1.5%;
    font-size: 320%;
    position: relative;
    font-family: 'Mali', cursive;
}

#monday {
    display:table;
    background-color: rgb(255, 255, 255,0.1);
    font-size:130%;
    color:whitesmoke;
    max-width: 100%;
    transition: all 0.9s;
    margin-top: 4%;
  }

  #monday:hover {
    display:table;
    background-color: rgb(216, 248, 7);
    font-size:130%;
    color:rgb(10, 34, 24);
    transform: scale(1.1);
  }

#mondaypic {
    filter: brightness(70%);
    width:405px;
    height:208px;
}

#mondaypic:hover {
    filter: brightness(100%);
}

.card-img-top{
    width:100%;
    height: 326px;
    object-fit: cover;
  }

  



/* gallery card effect */
#gallerycard {
    display:inline-flex;
    background-color: rgb(255, 255, 255,0.1);
    font-size:130%;
    color:whitesmoke;
    text-align:center;
    margin-top: 4%;
  }
  
  #gallerycard:hover {
    display:inline-flex;
    background-color: rgb(255, 255, 255,0.5);
    font-size:130%;
    color:rgb(10, 34, 24)
  }




