<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-thumb-tack"></i> หน้าจัดการรูป Thumbnail</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-thumb-tack"></i></li>
      <li class="breadcrumb-item"><a href="#">หน้าจัดการรูป Thumbnail</a></li>
    </ul>
  </div>
  <div class="app-title">
    <div class="form-group">
      <label class="control-label">อัพโหลดภาพ</label>
      <input class="form-control" id='image' type="file" #thumbImage multiple accept="image/*">
    </div>
    <button class="btn btn-primary" type="button"><i class="fa fa-fw fa-lg fa fa-upload"></i>อัพโหลด</button>
  </div>
  