<div class="tile" id="chart-filter">
    <div class="row" style="align-items: center;">
      <div class="col-lg-8 col-md8 col-sm-9">
        <div class="bs-component" style="margin-bottom: 0px;">
          <label class="control-label">เรียงตาม</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary" *ngFor="let data of sort" (click)="sortBy(data)">
              <input type="radio" name="options" autocomplete="off">{{data}}
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-3">
        <label class="control-label">ข้อมูล</label>
        <div class="row">
            <input class="form-control" id="startDate" #startDate type="text" placeholder="จาก">
            <input class="form-control" id="endDate" #endDate type="text" placeholder="ถึง">
        </div>
      </div>
    </div>
    <label class="control-label">สาขา</label>
    <div class="row" style="align-items: center;">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="bs-component" style="margin-bottom: 2px;">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label *ngFor="let item of path" class="btn btn-primary active" id="selectBranch" #selectBranch
              (click)="onChange($event, selectBranch)">
              <input type="checkbox" autocomplete="off" checked>{{item}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>