<!-- สื่อการสอน -->
<div style="padding-top:3%" *ngFor="let category of trainngData">
  <div class="container-fluid  bggallery">
    <div class="row" style="display:-webkit-inline-box;margin-left: 3%;margin-top: 1%;">
      <img class="img-responsive" src="../../../assets/images/logo/logogal.png" alt="" id="newslogo">
      <div id="bggallerytextlogo">
        {{category.category}}
      </div>
    </div>

    <div class="container-fluid" style="padding-bottom: 3%;">
      <div class="row">
        <ng-container *ngFor="let train of category.videos">
          <div class="col-lg-3 col-md-4">
            <div class="card mt-2">
              <div class="containerIMG">
                  <img class="card-img-top" src='{{train.poster}}' alt="Card image cap" style="height:225px">
                  <i class="centered fa fa-youtube-play" style="font-size: 4rem;color: rgba(255,255,255,0.5);"></i>
              </div>
              <div class="card-body" style="margin-top: 0.5rem;">
                <P style="text-decoration: underline;margin-left: 0.8em;font-family: 'Mali', cursive;font-size: 1.3rem;font-weight: bold;">{{train.name}}</P>
                <p id="newscardcontent" class="card-text indent">&nbsp;&nbsp;&nbsp;&nbsp;{{train.detail}}</p>
                <p class="card-text" style="font-family: 'Mali', cursive;font-size:1rem;padding-top:1%"><small class="text-muted text-left">โดย
                    {{category.Instructor}}</small></p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<!-- จบสื่อการสอน -->