<!-- <div class="box">
  <div class="nav-text">Login</div>
  <div class="nav-text"> 
      ID <input type="text">
  </div>
  <div class="nav-text">
    Password <input type="text">
  </div>
</div> -->

<div class="card">
  <img src="../../../assets/images/avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h2><b>John Doe</b></h2>
    <button type="submit">แก้ไข</button>
    <p>โปรแกรมเมอร์</p>
  </div>
</div>

<!-- <div class="card">
  <img class="card-hor-inner" src="../../../assets/images/avatar.png" alt="Avatar" style="width:100%">
  <div class="card-hor-inner">
    <h2><b>John Doe</b></h2>
    <button type="submit">แก้ไข</button>
    <p>โปรแกรมเมอร์</p> 
  </div>
</div> -->
<br>
<div class="card-hor">
  <img src="../../../assets/images/avatar.png" alt="Avatar" style="float: left; width: 200px;">

  <div class="card-hor-inner">
    <h2><b>John Doe</b></h2>
    <p>โปรแกรมเมอร์</p>
  </div>
</div>