.app-title {
    margin-bottom: 10px;
    padding: 10px 10px;
}
#targetAmt {
    background-color: #FF9EB3;
    border-color: #FF4D73;
    color:black;
}
#saleAmt {
    background-color: #82CDFF;
    border-color: #24A7FF;
    color:black;
}
#diffAmt {
    background-color: #FFE099;
    border-color: #FFD574;
    color:black;
}
#pdo {
    background-color: #73E8E8;
    border-color:#5BFBFB;
    color:black;
}
label.btn.btn-primary.active {
    filter: brightness(0.9);
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
}
.btn {
    padding: 0.20rem 0.60rem;
}
.app-content {
    padding:10px;
}
.tile {
    margin-bottom: 15px;
}