<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<main class="app-content">
  <div class="app-title">
    <div>
      <div class="row justify-content-md-center justify-content-lg-center">
        <div class="col-lg-12 col-md-12">
          <div class="row justify-content-md-center justify-content-lg-center">
            <div class="col-lg-5 col-md-5">
              <div class="bs-component" style="margin-bottom: 10px;">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label *ngFor="let data of allDataSets" class="btn btn-primary active" id='selectData' #selectData
                    [ngStyle]="{'background-color':data.backgroundColor, 'border-color':data.borderColor, 'color':'black'}"
                    (click)="onDataChange($event, selectData)">
                    <input type="checkbox" autocomplete="off" checked>{{data.label}}</label>
                  <!-- <label class="btn btn-primary active" id="saleAmt">
                    <input type="checkbox" autocomplete="off"> ยอดขาย
                  </label>
                  <label class="btn btn-primary active" id="diffAmt">
                    <input type="checkbox" autocomplete="off"> ขาด/เกิน ยอด
                  </label>
                  <label class="btn btn-primary active" id="pdo">
                    <input type="checkbox" autocomplete="off"> PDO
                  </label> -->
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-md-7">
              <div class="bs-component" style="margin-bottom: 10px;">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label *ngFor="let branch of allData" class="btn btn-primary active" id="selectBranch" #selectBranch
                    (click)="onChange($event, selectBranch)">
                    <input type="checkbox" autocomplete="off" checked>{{branch.BRH_ID}}</label>
                  <!-- <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 02
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 03
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 04
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 05
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 06
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 07
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 08
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 10
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 11
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 12
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 13
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off"> 14
                  </label> -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center justify-content-lg-center">
        <div class="col-lg-12 col-md-12">
          <div class="row justify-content-md-center justify-content-lg-center">
            <div class="col-lg-6 col-md-6">
              <div class="bs-component" style="margin-bottom: 10px;">
                <div class="btn-group" role="group" aria-label="Basic example" #selectSort>
                  <button *ngFor="let data of sort" class="btn btn-secondary" 
                  type="button" (click)="sortBy($event, selectSort)">{{data}}</button>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center justify-content-lg-center">
    <div class="col-md-12 col-lg-10">
      <div class="tile">
        <h3 class="tile-title">ข้อมูลยอดขาย</h3>
        <div class="embed-responsive embed-responsive-16by9">
          <canvas class="embed-responsive-item" id="barChartDemo"></canvas>
        </div>
      </div>
    </div>
  </div>
</main>