<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-pie-chart"></i> รายงานข้อมูลยอดขาย</h1>
      <p>รายงานข้อมูลยอดขาย</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-newspaper-o"></i></li>
      <li class="breadcrumb-item"><a href="#">รายงานข้อมูลยอดขาย</a></li>
    </ul>
  </div>
  <div class="row justify-content-md-center justify-content-lg-center">
    <div class="col-md-12 col-lg-12">
      <app-sale></app-sale>
      <app-sale-path></app-sale-path>
    </div>
  </div>
</main>