<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa fa-users"></i> {{name}}</h1>
      <p>Signalr Testing</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title" (click)="registerContext()">Transaction</h3>
        <div class="tile-body">
          <table class="table table-hover table-bordered" id="sampleTable">
            <thead>
              <tr>
                <th>Trans ID</th>
                <th>Trans Date</th>
                <th>Customer ID</th>
                <th>Order No.</th>
                <th>Amount</th>
                <th>Bank</th>
                <th>BankRefCode</th>
                <th>Status</th>
                <th>Remark</th>
              </tr>
            </thead>
            <tbody>
              <ng-container>
              <tr *ngFor="let message of messages">
                <td>{{message.TransactionId}}</td>
                <td>{{message.PaymentDate}}</td>
                <td>{{message.CustomerId}}</td>
                <td>{{message.OrderNo}}</td>
                <td>{{message.Amount}}</td>
                <td>{{message.BankCode}}</td>
                <td>{{message.BankRefCode}}</td>
                <td *ngIf="message.PaymentStatus==0">Success</td>
                <td *ngIf="message.PaymentStatus==1">Fail</td>
                <td *ngIf="message.PaymentStatus==2">Cancel</td>
                <td *ngIf="message.PaymentStatus==3">Error</td>
                <td>{{message.PaymentDescription}}</td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
        <!-- <div class="messanger">
          <div class="messages">
            <div *ngFor="let message of messages" class="message" [ngClass]="{'me': message.me == true}"><img src="{{message.image}}">
              <p class="info">{{message.message}}</p>
            </div>
          </div>
          <div class="sender">
            <input id="txtChat" type="text" placeholder="Send Message" disabled #txtChat (change)="send(txtChat)">
            <button disabled id="btnChat" class="btn btn-primary" type="button" (click)="send(txtChat)"><i class="fa fa-lg fa-fw fa-paper-plane"></i></button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</main>