<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="material-icons">
          file_copy
        </i> {{cust_name}}</h1>
    </div>
    <div>
      <i class="material-icons">
        notifications
      </i>
    </div>
    <!-- <img width="35" height="35" src="../../../assets/images/logo/logo.png"
          alt="User Image"> -->
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="tile" *ngFor="let data of contract" (click)="viewPayment(data.CON_NO, data.CON_DATE, data.TOT_AMT, data.PERIOD, data.PAY_AMT, data.DISC_AMT, data.BAL_AMT)">
        <div class="row">
          <div class="col-10">
            <p style="padding-left:10px;"><i class="fa fa-file-text" aria-hidden="true" style="color:#A2A523;"></i>
              {{data.CON_NO}}</p>
          </div>
          <div class="col-2">
            <i class="material-icons" style="font-size: 1.5rem;color:#A2A523;">
              arrow_forward_ios
            </i>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <p style="padding-left:10px;margin-bottom: 0px;"><span style="color:#A2A523;">฿</span>&nbsp;
              {{data.TOT_AMT}}</p>
          </div>
          <div class="col-2">
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <p style="padding-left:10px;"><i class="fa fa-clock-o" aria-hidden="true" style="color:#A2A523;"></i>
              {{data.CON_DATE}}</p>
          </div>
          <div class="col-2">
          </div>
        </div>

        <!-- <div class="tile-title-w-btn">
          <h3 class="title">{{data.CON_NO}}</h3>
          <p><a class="btn btn-primary icon-btn" (click)="viewPayment(data.CON_NO)"><i class="fa fa-file-text-o"></i>ดู	</a></p>
        </div>
        <div class="tile-body"> -->

        <!-- <table class="table table-striped">
            <thead>
              <tr>
                <th>ราคาสินค้า</th>
                <th>ระยะเวลาชำระ (งวด)</th>
                <th>งวดละ (บาท)</th>
                <th>ยอดคงเหลือ (บาท)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{data.TOT_AMT}}</td>
                <td>{{data.PAY_AMT}}</td>
                <td>{{data.PERIOD}}</td>
                <td>{{data.BAL_AMT}}</td>
              </tr>
            </tbody>
          </table> -->
        <!-- </div> -->
      </div>
      <!-- <div class="tile">
          <object type="text/html" data="https://www.google.co.th"style="overflow:auto;">
          </object>
      </div> -->
    </div>
  </div>
</main>