<!-- <div class="row justify-content-md-center justify-content-lg-center">
  <div class="col-md-12 col-lg-12"> -->
<div class="tile">
  <div class="tile" id="filter">
    <div class="row" style="align-items: center;">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="bs-component" style="margin-bottom: 0px;">
          <label class="control-label">เรียงตาม</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary" *ngFor="let data of headers" (click)="sort(data)">
              <input type="radio" name="options" autocomplete="off">{{data}}
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <label class="control-label">ข้อมูล</label>
        <div class="row">

          <div class="col-lg-3 col-md-12 col-sm-12">
            <input class="form-control" id="startDtSaleBrh" #startDtSaleBrh type="text" placeholder="{{startMonth}}" autocomplete="off">
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12">
            <input class="form-control" id="endDtSaleBrh" #endDtSaleBrh type="text" placeholder="{{endMonth}}" autocomplete="off">
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12">
            <button class="btn btn-primary" id="submitDate" type="button" (click)="getPeriod(startDtSaleBrh, endDtSaleBrh)"><i
                class="fa fa-fw fa-lg fa-check-circle"></i>ตกลง</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="align-items: center;">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <label class="control-label">สาขา</label>
        <div class="bs-component" style="margin-bottom: 0px;">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label *ngFor="let branch of masterColumn" class="btn btn-primary active" id="selectBranch" #selectBranch
              (click)="onChange($event)">
              <input type="checkbox" autocomplete="off" checked>{{branch}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="tile-title">ข้อมูลยอดขายตามสาขา</h3>
  <!-- <div class="embed-responsive embed-responsive-16by9"> -->
  <canvas class="embed-responsive-item" id="saleBrhChart"></canvas>
  <!-- </div> -->
</div>
<!-- </div>
</div> -->