td {
    text-align: center;
}

.app-content {
    position: absolute;
    margin-top: 0px;
    /* background-color: whitesmoke; */
    background-image: url("../../../assets/images/logo/background6.jpg");
    background-size: cover;
    /* background-repeat: round; */
}

.app-title {
    position: fixed;
    flex-direction: unset;
    /* background-color: whitesmoke; */
    background-color: transparent;
    background-image: url("../../../assets/images/logo/header-green.png");
    color: white;
    background-size: auto;
    background-repeat: round;
    height: 7.5rem;
    box-shadow: none;
    -webkit-box-shadow: none;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.app-title h1 {
    margin: 0;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Mali', cursive;
}

@font-face {
    font-family: 'Mali';
    src: url('../../../assets/fonts/mali/Mali-Bold.ttf') format('truetype'), url('../../../assets/fonts/mali/Mali-BoldItalic.ttf') format('truetype'), url('../../../assets/fonts/mali/Mali-ExtraLight.ttf') format('truetype'), url('../../../assets/fonts/mali/Mali-ExtraLightItalic.ttf') format('truetype'), url('../../../assets/fonts/mali/Mali-Italic.ttf') format('truetype'), url('../../../assets/fonts/mali/Mali-Light.ttf') format('truetype'), url('../../../assets/fonts/mali/Mali-LightItalic.ttf') format('truetype'), url('../../../assets/fonts/mali/Mali-Medium.ttf') format('truetype'), url('../../../assets/fonts/mali/Mali-MediumItalic.ttf') format('truetype'), url('../../../assets/fonts/mali/Mali-Regular.ttf') format('truetype'), url('../../../assets/fonts/mali/Mali-SemiBold.ttf') format('truetype'), url('../../../assets/fonts/mali/Mali-SemiBoldItalic.ttf') format('truetype');
}

.tile {
    /* background-size: contain;
    background-repeat: no-repeat; */
    font-family: 'Mali', cursive;
    font-weight: bold;
    color: darkgreen;
    background-color: transparent;
    /* color: #A2A523; */
    /* padding: 10px 20px; */
    padding-top: 2rem;
    padding-bottom: 10px;
    /* padding-left: 10px !important;
    padding-right: 10px; */
    font-size: 1rem;
    margin-top: 7.5rem;
}

#txtPhone{
    font-size: 1.5rem;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    width:70%;
}

.fa-check-circle-o {
    font-size: 6rem;
    color:mediumseagreen;
}
.fa-times-circle {
    font-size: 6rem;
    color:darkred;
}

img {
    width: 70px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    border-radius: 15px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border: 1px solid;
    border-color: transparent;
}

.active {
    background-color:darkslategray;
    border-color: cadetblue;
}
.modal-body{
    font-family: 'Mali', cursive;
    font-weight: bold;
    background-color: transparent;
    font-size: 1rem;
}
@media (min-width: 768px) {
    .app-content {
      margin-left: 0px;
      position: inherit;
    }
  }