<nav class="main-menu">

  <div class="settings"></div>
  <div class="scrollbar" id="style-1">
    <ul>
      <li>
        <a routerLink="/home">
          <i class="fa fa-home fa-lg"></i>
          <span class="nav-text">Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/login">
          <i class="fa fa-user fa-lg"></i>
          <span class="nav-text">Login</span>
        </a>
      </li>

      <li>
        <a href="/card">
          <i class="fa fa-envelope-o fa-lg"></i>
          <span class="nav-text">Card</span>
        </a>
      </li>
    </ul>
  </div>
</nav>